@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Varela+Round&display=swap');

@media (max-width: 960px) {
  .container {
    width = 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width = 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width = 300px;
  }
}

body {
  background-color: #f6dcbf;
  font-family: 'Open Sans', 'sans serif';
  line-height: 30px;
  color: #aaaaaa
}

h1 {
  color: #f7a440;
}

h3 {
  font-family: 'Varela Round', 'sans serif'
  font-weight: 300;
  color: darkgray;
}

.footer > li > i {
  color: blue;
  margin: 5px;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
}

p {
  color: #4a503d;
}

a {
  font-family: 'Varela Round', 'sans serif'
  text-decoration: none
}

a:link {
  color: #8e9775;
}

a:hover {
  font-style: italic;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fffbdf;
  padding: 20px;
  margin: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.1)
}

.round{
  border-radius: 50%;
}

.shrink_size {
  width: 20%;
  height: 30%;
}

.text-center {
  text-align: center;
}
